html {
  overflow: scroll;
}

body {
    background: #17252a;
    font-family: Montserrat;
  }

  .navbar {
    animation: fadeInDown 1s;
    box-shadow: 0 2px 4px 0 #17252a;
    background: linear-gradient(to right, #17252a, #455);
  }

  .navbar a {
    color: #66fcf1;
  }

  .container {
    animation: slideInLeft 1s;
    padding-top: 5rem;
  }

  .a {
    color: #66fcf1;
  }

  .a :hover{
   color: #42275a;
  }

  .jumbotron {
    background: linear-gradient(to right, #17252a, #455);
    color: #66fcf1;
    padding: 4rem 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    box-shadow: -1rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
  }

  .jumbotron h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .jumbotron p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .feature {
    background-color: #def2f1;
    border-radius: 0.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: -1rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
  }

  .feature a {
    color: #17252a;
    text-decoration: none;
  }
  
  .last {
    margin-bottom: 3rem;
  }

  .feature h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: black;
  }

  .feature p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .cta {
    background: linear-gradient(to right, #17252a, #455);
    color: #66fcf1;
    border-radius: 0.5rem;
    padding: 4rem 2rem;
    margin-bottom: 4rem;
    box-shadow: -1rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
  }

  .cta h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .cta p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .btn {
    padding: 1rem 2rem;
    color: #17252a;
    background-color: #66fcf1;
  }

  .ftr {
    background-color: #17252a;
    color: #66fcf1;
    padding: 0.5rem;
  }

  @font-face {
    font-family: Montserrat;
    src: url('/Montserrat.woff2');
    font-display: swap;
  }
  
  