html {
  overflow: scroll;
}

body {
    background: #2c1f30;
    font-family: 'Montserrat';
  }

  .navbar {
    animation: fadeInDown 1s;
    box-shadow: 0 2px 4px 0 #2c1f30;
    background: linear-gradient(to right, #D8BFD8, #D8BFD8);
  }

  .navbar a {
    color: #42275a;
  }

  .navbar a:hover {
    text-decoration: underline;
  }

  .container {
    animation: slideInLeft 1s;
    padding-top: 5rem;
  }

  .a {
    color: #D8BFD8;
  }

  .a :hover{
   color: #42275a;
  }

  .jumbotron {
    background: linear-gradient(to right, #734b6d, #42275a);
    color: #D8BFD8;
    padding: 4rem 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    animation: fadeInUp 1s;
  }

  .jumbotron h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .jumbotron p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .feature {
    background-color: #D8BFD8;
    border-radius: 0.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    animation: fadeInUp 1s;
  }

  .feature a {
    color: black;
    text-decoration: none;
  }
  

  .feature h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: black;
  }

  .feature p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .cta {
    background-color: #D8BFD8;
    border-radius: 0.5rem;
    padding: 4rem 2rem;
    margin-top: 4rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    animation: fadeInUp 1s;
  }

  .cta h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .cta p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .cta .btn {
    padding: 1rem 2rem;
    color: #D8BFD8;
    background: linear-gradient(to right, #734b6d, #42275a);
  }

  .btn {
    padding: 1rem 2rem;
    color: #2c1f30;
    box-shadow: -5px 5px 5px #2c1f30;
    background-color: #D8BFD8;
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
